.counter {
  font-weight: bold;
}

.counter--green {
  font-weight: bold;
  color: rgb(25,200,25);
}

.link {
  cursor: pointer;
}

.hammer_target {
  height: 100%;
  width: 100%;
}

.grid_row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0px;
  justify-content: center;
  margin: 0px;
}

.hidden {
  display: none;
}

.sidebar_left{
   position: fixed;
   top: 0; // required as well.
   left: 0;
   height: 100%;
}

.sidebar_right{
   position: fixed;
   top: 0; // required as well.
   right: 0;
   height: 100%;
}

.counterContainer {
  margin: 1em auto;
}
