.sidebar-container-div {
  height: inherit;
}

.mobile-player-number {
  font-size: 32px;
}

.counter {
  font-weight: bold;
}

.counter--green {
  font-weight: bold;
  color: rgb(25,200,25);
}

.link {
  cursor: pointer;
}

.hidden {
  display: none;
}

.counterContainer {
  margin: 1em auto;
}
